@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Proxima Nova';
        src: url('fonts/ProximaNova-Regular.ttf');
    }

    @font-face {
        font-family: 'FbReforma';
        src: url('fonts/FbReforma-Regular.ttf');
    }
}

html,
.font-proxima {
    font-family: "Proxima Nova", system-ui, sans-serif;
}

.font-reforma {
    font-family: "FbReforma", system-ui, sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #faefff;
}

::-webkit-scrollbar-thumb {
    background: #9617C7;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a332cf;
}